name: Renew data

on:
  schedule:
    - cron: '0 14 * * *'

env:
  TZ: Asia/Tokyo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: shivammathur/setup-php@2.9.0
      with:
        php-version: '7.4' 

    - name: Install dependencies
      run: cd tool && composer install --prefer-dist --no-progress --no-suggest && cd ..

    - name: Convert
      run: bash ./bin/download_data.sh

    - name: Git add & commit
      run: |
        git config --local user.email "${{ secrets.EMAIL }}"
        git config --local user.name "${{ secrets.NAME }}"
        git status | grep "modified:   data/data.json" && git add data/data.json \
          && git commit -m "update data.json: `date +'%Y-%m-%d %H:%M:%S'`"

    - name: Set variables
      id: update_data
      run: |
        date=$(date +'%m/%d')
        echo "::set-output name=date::$date"

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        title: 受領データの反映(${{ steps.update_data.outputs.date }})
        branch: feature/update-data

    - name: Notify to slack
      uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        author_name: Renew Data
        fields: repo,commit,action,ref,author,workflow
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      if: ${{ failure() }}
